# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
*.iml
# Ігнорувати папку з скомпільованими файлами
out/
build/
# Ігнорувати системні файли macOS
.DS_Store
*.class